@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pad-left: 30px;
    --body-bg: #f3f3f3;
    --bgimg-tone: #596d48;
    --bordercolor: #e5e7eb;
    --body-font: 'Alegreya', serif;
    --logo-font: 'Aladin', cursive, serif;
}

body {
    font-family: var(--body-font);
    display: flex;
    margin: 0;
    background-color: var(--body-bg);
}

#left-section {
    height: 115vh;
    min-width: 380px;
    color: white;
    position: relative;
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    background-color: #00000080;
    position: relative;
    top: 18%;
    width: 100%;
    font-size: xxx-large;
    padding: 25px 0;
    font-family: var(--logo-font);
}

img {
    height: 80px;
    width: auto;
}

#credit {
    font-size: small;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    bottom: 2%;
    width: 100%;
}

#main-text {
    font-weight: bold;
    font-size: large;
    padding: 8% 0 28px var(--pad-left);
    background-color: var(--body-bg);
}

form {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: var(--pad-left);
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 5px #97979780;
}

fieldset {
    border: none;
    padding-left: 0;
    display: grid;
    gap: 20px 40px;
    grid-template-columns: 200px 200px;
}

legend {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 16px;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    font-size: small;
    letter-spacing: 1.5px;
}

input,
input:indeterminate {
    border: 1px solid #e5e7eb;
    border-radius: 3px;
    padding: 4px 6px;
    font-family: var(--body-font);
    font-size: medium;
}

input:invalid {
    outline: 1px solid red;
}

input:focus {
    outline: 1px solid royalblue;
    border: none;
}

#submit {
    position: absolute;
    top: 112%;
}

button,
button:disabled {
    font-family: var(--body-font);
    background-color: var(--bgimg-tone);
    color: white;
    padding: 8px 38px;
    margin-bottom: 24px;
    border-width: 0;
    border-radius: 5px;
    border-color: var(--bordercolor);
    box-shadow: 0px 1px 5px #80808080;
}

#submit a {
    color: var(--bgimg-tone);
    text-decoration: none;
}